@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import "~react-image-gallery/styles/css/image-gallery.css";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-size: 16px;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  max-width: 1920px;
  margin:0 auto;
}

#__next > header{
  max-width: 1920px;
  left:50%;
  transform: translateX(-50%);
}

h1, h2, h3, h4, h5, h6{
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-style: normal;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.productsList{
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 1fr 1fr 1fr;

  & .product{
    display: block;
    text-align: center;
    border: 1px solid #ececec;
    padding: 10px;
    border-radius: 5px;

    & > div{
      position: relative;
      display: block;

      & h5{
        font-size: 16px;
      }

      & div{
        font-size: 20px;
      }

      & img{
        position: relative !important;
        object-fit: contain;
        height: auto !important;
      }

      &:last-child{
        padding-top: 10px;
      }
    }
  }
}

.product-details{
  display: flex;
  gap:40px;

  & .left{
    & img{
      position:  relative !important;
      height: auto !important;
      max-width: 500px;
    }
  }

  & .right{
    input{
      padding:10px;
      height: 48px;
      border: 1px solid #ededed;
      border-left: 0;
      border-right: 0;
      width:70px;
      text-align: center;
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    input[type=number] {
      -moz-appearance: textfield;
    }

    & h1{
      font-weight: 700;
      font-size: 32px;
      margin-bottom: 20px;
    }

    & button{
      padding: 10px 20px;
      text-transform: uppercase;
      cursor: pointer;
      color: #fff;
    }
  }

  @media(max-width:767px){
    padding:20px;
    flex-direction: column;
  }
}

@media(max-width:767px){
  .productsList{
    grid-template-columns: 1fr;
  }
}

.checkout-button{
  padding: 10px 20px;
  text-transform: uppercase;
  cursor: pointer;
  background: #0348be;
  color: #fff;
  border-radius: 3px;
}

.cart-page{
  padding: 40px 50px;

  & h1{
    font-weight: 700;
    font-size: 32px;
  }

  & .checkout-section{
    margin: 0 auto;
    width: 100%;
    text-align: right;

    & h2{
      font-weight: 700;
    }
  }

  & ul{
    margin: 40px auto 40px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap:40px;
    border-top: 1px solid #ececec;
    padding-top: 40px;

    & li{
      display: flex;
      justify-content: space-between;
      gap:40px;
      text-align: right;
      border-bottom: 1px solid #ececec;
      padding-bottom: 40px;

      & h2{
        font-weight: 700;
      }

      @media(max-width:767px){
        gap:10px;
      }
    }
  }

  @media(max-width:767px){
    padding: 20px 20px;
  }
}

.viewCartCta{
  padding: 10px 20px;
  text-transform: uppercase;
  cursor: pointer;
  background: #0348be;
  color: #fff;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.site-header{
  padding:20px 50px;
  display: flex;
  gap: 20px;

  & a{
    text-decoration: underline;
  }

  @media(max-width:767px){
    padding: 20px 20px;
  }
}

.site-footer{
  padding:20px 50px;

  @media(max-width:767px){
    padding: 20px 20px;
  }
}

.search-page{
  padding:20px 50px;

  @media(max-width:767px){
    padding: 20px 20px;
  }

  & .show {
    display: block;
  }
  
  & .hide {
    display: none;
  }
}

.voice-assistant-modal{
  position:fixed;
  top:0;
  right:-150%;
  height:100vh;
  width:400px;
  background: blue;
  transition: 0.3s ease-in;

  &.active{
    right:0px;
    transition: 0.3s ease-in;
  }
}

.collectionList{
  position: relative;
  display: flex;
  gap:20px;
  
  @media(max-width:767px){
    flex-direction: column;
  }

  & > div{
    flex:1;
  }

  & .collection{
    position: relative;
    & img{
      position: relative !important;
      height: auto !important;
      width:auto !important;
      margin: 0 auto;

      @media(max-width:767px){
        width: 100% !important;
      }
    }
  }
}

.shoppingCartIcon{
  position: relative;

  & span{
    position: absolute;
    top: -15px;
    right: -15px;
    background: #0348be;
    color: #fff;
    border-radius: 50%;
    font-size: 10px;
    line-height: 10px;
    font-weight: 700;
    height: 20px;
    width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media(max-width:1024px){
  header{
    & > div{
      position: relative;

      & .navigation{
        position: absolute;
        display: flex;
        flex-direction: column;
        width: 100%;
        left:0;
        background: #fff;
        top:-800px;
        padding:20px;
        transition: 0.3s ease-in;
        z-index: 0;

        & a{
          margin-left: 0 !important;
        }
      }
    }

    &.active-nav{
      & .navigation{
        top:40px;
        transition: 0.3s ease-in;
      }
    }
  }
}

.video-wrapper {
  position: relative;
  width: 100%;
  height: 400px;  
  overflow: hidden;
}

.video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}

.home-banner{
  min-height: 720px;
  background: url('/out.jpg');
  background-size: cover;
  background-position: 50% 70%;
  padding:50px 40px;
  position: relative;
  margin-bottom: 40px;

  & .inner{
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    left:40px;
    max-width: 500px;
    background: #FFF3E3;
    border-radius: 8px;
    padding:50px 40px 40px;

    & span{
      font-size: 16px;
      font-weight: 600;
      line-height: 24px;
      letter-spacing: 3px;
      text-align: left;
      color: #333;
    }

    & h1{
      font-size: 52px;
      font-weight: 700;
      line-height: 52px;
      text-align: left;
      color: #B88E2F;
      margin-top:10px;
      margin-bottom: 20px;
    }

    & p{
      font-size: 18px;
      font-weight: 500;
      line-height: 24px;
      text-align: left;
      margin-bottom: 40px;
    }

    @media(max-width:767px){
      background: #fff3e3c9;
      max-width: 100%;
      right:unset;
      width: 100%;
      position: relative;
      top: unset;
      transform: none;
    }
  }

  @media(max-width:767px){
    min-height: 100%;
    padding: 20px 20px;
  }
}

.plp-product-listing{
  & .pagination{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 40px;
    gap:10px;

    & .page-item.disabled{
      opacity: 0;
    }

    & .page-item{
      height: 30px;
      width: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 5px;

      &.active{
        background: #0348be;

        & a{
          color: #fff;
        }
      }
    }
  }
}
.searchresults {
a{
  position: relative;
  img{
    position: relative!important;
    width: 100px !important;
    height: 100px !important;
    object-fit: contain;
  }
}
}

.customSwiperSliderContainer{
  display: flex;
  gap: 20px;
  background: #FCF8F3;

  & .left{
    flex:0.40;
    min-width: calc(40% - 20px);
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;

    & h2{
      font-size: 40px;
      line-height: 48px;
      color: rgba(58, 58, 58, 1);

      @media(max-width:767px){
        font-size: 20px;
        line-height: 24px;
      }
    }
  }

  & .middle{
    flex:0.30;
    min-width: calc(30% - 20px);
    position: relative;

    & img{
      position: relative !important;
      width: 100% !important;
      height: auto !important;
    }

    & .content{
      position: absolute;
      padding: 20px 30px;
      left: 20px;
      bottom: 20px;
      background: rgba(255, 255, 255, 0.72);

      @media(max-width:767px){
        padding: 20px 20px;
      }

      & .sub_head{
        color:#616161;
        font-size: 16px;
        line-height: 24px;
        display: flex;
        gap:10px;
      }

      & a{
        position: absolute;
        right: -43px;
        bottom: 0;
        background: #B88E2F;
        padding: 10px;
      }

      & .head{
        font-size: 28px;
        font-weight: 600;
        line-height: 33.6px;
      }
    }
  }

  & .right{
    flex:0.30;
    min-width: calc(30% - 0px);
    max-width: calc(30% - 0px);

    & .swiper-slide{
      position: relative;

      & > img{
        position: relative !important;
        width: 100% !important;
        height: auto !important;
      }
    }

    & .swiper-button-prev.swiper-button-disabled,
    & .swiper-button-next.swiper-button-disabled{
      display: none !important;
    }

    & .swiper-button-next,
    & .swiper-button-prev{
      color: #B88E2F;
      height: 48px;
      width: 48px;
      border-radius: 50%;
      background: #fff;
      box-shadow: 0px 4px 14px 1px rgba(0, 0, 0, 0.16);


      @media(max-width:767px){
        height: 32px;
        width: 32px;
      }

      &:after{
        font-size: 24px;
      }

      @media(max-width:767px){
        &:after{
          font-size: 14px;
        }
      }
    }

    & .swiper-button-next{
      right: 20%;
    }

    & .swiper-pagination{
      position: relative;
      top: unset;
      bottom: unset;
      text-align: left;
      display: flex;
      gap:20px;
      height: 100%;
      padding: 20px 11px;
      margin-top: 10px;

      & span{
        height: 11px;
        width:11px;
        background: #D8D8D8;
        margin: 0 0;
        opacity: 1;

        &.swiper-pagination-bullet-active{
          background: #B88E2F;
          outline: 1px solid #B88E2F;
          outline-offset: 10px;
        }
      }
    }
  }

  @media(max-width:767px){
    flex-direction: column;
    gap:40px;

    & > div{
      flex:1 !important;
      min-width: 100% !important;
      max-width: 100% !important;
    }
  }
}

.news-letterform{
  position: relative;
  & button{
    position: absolute;
    right: 10px;
    top:50%;
    transform: translateY(-50%);
  }
}

input:checked + label {
	border-color: black;
	box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}
