@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import "~react-image-gallery/styles/css/image-gallery.css";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-size: 16px;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h1, h2, h3, h4, h5, h6{
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-style: normal;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.productsList{
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 1fr 1fr 1fr;

  & .product{
    display: block;
    text-align: center;
    border: 1px solid #ececec;
    padding: 10px;
    border-radius: 5px;

    & > div{
      position: relative;
      display: block;

      & h5{
        font-size: 16px;
      }

      & div{
        font-size: 20px;
      }

      & img{
        position: relative !important;
        object-fit: contain;
        height: auto !important;
      }

      &:last-child{
        padding-top: 10px;
      }
    }
  }
}

.product-details{
  display: flex;
  gap:40px;

  & .left{
    & img{
      position:  relative !important;
      height: auto !important;
      max-width: 500px;
    }
  }

  & .right{
    input{
      padding:10px;
      height: 48px;
      border: 1px solid #ededed;
      border-left: 0;
      border-right: 0;
      width:70px;
      text-align: center;
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    input[type=number] {
      -moz-appearance: textfield;
    }

    & h1{
      font-weight: 700;
      font-size: 32px;
      margin-bottom: 20px;
    }

    & button{
      padding: 10px 20px;
      text-transform: uppercase;
      cursor: pointer;
      background: #0348be;
      color: #fff;
    }
  }

  @media(max-width:767px){
    padding:20px;
    flex-direction: column;
  }
}

@media(max-width:767px){
  .productsList{
    grid-template-columns: 1fr;
  }
}

.checkout-button{
  padding: 10px 20px;
  text-transform: uppercase;
  cursor: pointer;
  background: #0348be;
  color: #fff;
  border-radius: 3px;
}

.cart-page{
  padding: 40px 50px;

  & h1{
    font-weight: 700;
    font-size: 32px;
  }

  & .checkout-section{
    margin: 0 auto;
    width: 100%;
    text-align: right;

    & h2{
      font-weight: 700;
    }
  }

  & ul{
    margin: 40px auto 40px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap:40px;
    border-top: 1px solid #ececec;
    padding-top: 40px;

    & li{
      display: flex;
      justify-content: space-between;
      gap:40px;
      text-align: right;
      border-bottom: 1px solid #ececec;
      padding-bottom: 40px;

      & h2{
        font-weight: 700;
      }

      @media(max-width:767px){
        gap:10px;
      }
    }
  }

  @media(max-width:767px){
    padding: 20px 20px;
  }
}

.viewCartCta{
  padding: 10px 20px;
  text-transform: uppercase;
  cursor: pointer;
  background: #0348be;
  color: #fff;
  border-radius: 3px;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 150px;
}

.site-header{
  padding:20px 50px;
  display: flex;
  gap: 20px;

  & a{
    text-decoration: underline;
  }

  @media(max-width:767px){
    padding: 20px 20px;
  }
}

.site-footer{
  padding:20px 50px;

  @media(max-width:767px){
    padding: 20px 20px;
  }
}

.search-page{
  padding:20px 50px;

  @media(max-width:767px){
    padding: 20px 20px;
  }

  & .show {
    display: block;
  }
  
  & .hide {
    display: none;
  }
}

.voice-assistant-modal{
  position:fixed;
  top:0;
  right:-150%;
  height:100vh;
  width:400px;
  background: blue;
  transition: 0.3s ease-in;

  &.active{
    right:0px;
    transition: 0.3s ease-in;
  }
}

.collectionList{
  position: relative;
  display: flex;
  gap:20px;
  
  @media(max-width:767px){
    flex-direction: column;
  }

  & > div{
    flex:1;
  }

  & .collection{
    position: relative;
    & img{
      position: relative !important;
      height: auto !important;
      width:auto !important;
      margin: 0 auto;

      @media(max-width:767px){
        width: 100% !important;
      }
    }
  }
}